// Variable colors

$color-primary: #3e7cb1;
$color-primary-light: #81a4cd;
$color-primary-dark: #054a91;
$color-grey: #dbe4ee;
$color-orange: #f17300;
$color-white: #fff;
$color-shade: #ccc;

$color-button-default: #51ddfc;
$color-button-success: #63cc82;
$color-button-error: #e4757a;
$color-button-warning: #fd7856;
$color-button-info: #927bc1;

// Variable fonts

$color-font-primary: #777;
$font-weight-light: 300;
$font-weight-dark: 700;

// Media query breakpoints

// Used Treehouse's 'Defining Media Queries' as resource for this
$brk-wide: '(min-width: 768px)';