/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
  @include btn;
  @include hover-transition;

  &.login {
    background-color: $color-button-success;
    &:hover{
      @include hover-style;
    }
  }

  &.default {
    background-color: $color-button-default;
    &:hover{
      @include hover-style;
    }
  }
  
  &.error {
    background-color: $color-button-error;
    &:hover{
      @include hover-style;
    }
  }
  
  &.info {
    background-color: $color-button-info;
    &:hover{
      @include hover-style;
    }
  }
  
  &.success {
    background-color: $color-button-success;
    &:hover{
      @include hover-style;
    }
  }
  
  &.warning {
    background-color: $color-button-warning;
    &:hover{
      @include hover-style;
    }
  }
}